<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebarFragment" class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 100%;">
                <!-- sidebar menu-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="#">
                            <i data-feather="user"></i>
                            <span>Mi Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/vecino/reservas}">
                            <i data-feather="calendar"></i>
                            <span>Mis Reservas</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/vecino}">
                            <i data-feather="grid"></i>
                            <span>Espacios Deportivos</span>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </section>
</aside>
</html>